* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding : 0;
    
}

:root{
    --radius: 4px;
    --orange:#D4421E;
    --white:#ffffff;
    --bule:#81b1dd;
    --gray:#a0a0a0;
    --graywhite: #F0F0F0;
}

.container{
    display: flex;
}

.container .row-right{
    flex-basis: 40%;
    height: 100%;
}

.container .row-left{
    flex-basis: 60%;
    background-color: var(--graywhite);
}

.search{
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
}

.search input {
    width: 520px;
    height: 50px;
    border: none;
    margin-left: 40px;
    /* border-radius: 4px; */
    border-radius: var(--radius);
    padding-left: 15px;
}

.search .btn {
    height: 50px;
    width: 140px;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    border-radius: var(--radius);
}

.btn:hover{
    background-color:#ec5732 ;
}

.icon:last-child{
    margin-right:40px;
    padding: 13px 16px;
    background-color: var(--white);
    border-radius: var(--radius);
    margin-left: auto;
}


.menu{
    display: flex;
    margin-left: 40px;
}
.menu .menu-a{
    margin-top: 25px;
    margin-right: 14px;
    list-style-type: none;
    width: 150px;
    height: 50px;
    background-color:var(--white);
    border-radius: var(--radius);

    display: flex;
    justify-content: center;
    align-items: center;
}


.menu-a a{
    text-decoration: none;
    color: #080707;
}

.menu .menu-a:hover {
    text-decoration: var(--white);
    background-color: var(--bule);
    width: 150px;
    height: 50px;
    
    border-radius: var(--radius);
}

.menu .menu-a:hover a{
    color: var(--white);
}
.menu-a i{
    background-color: #F0F0F0;
    border-radius: var(--radius);
    font-size: 20px;
    padding: 5px 5px;
    
}

.menu-a:hover i{
    color: var(--bule);
    background-color: var(--white);
} 



.row-col{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-left: 40px;
    margin-right: -20px; 
}
.col-4{
    flex-basis: 19%;
    margin-right: 24px;
    border-radius: var(--radius);
    background-color: var(--white);
    padding: 14px;
    margin-bottom: 24px;
}

.col-4 img{
    width: 100%;
    border-radius: var(--radius);
}


.fill-name{
    display: flex;
    margin: 40px;
    border: none;
    height: 65px;
    /* width: 380px;
    height: 65px; */
    background-color:  var(--graywhite);

    align-items: center;
    justify-content: flex-start;
    
    padding-left: 15px;
    border-radius: var(--radius);
}

.fill-name  .icon1{
    font-size: 25px;
    color: var(--white);
}

.fill-name  .icon2:last-child{
    margin-left: auto;
    margin-right: 15px;
    height: 50px;
    width: 50px;
    background-color:var(--bule) ;
    color: var(--white);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: center;    
    padding-left: 1px;
    font-size: 20px;
}

.fill-name p{
    font-weight: bold;
}

.bill{
    display: flex;
    margin:0 54px;
   
}

.bill-item{
    flex-direction: column;
}

.bill-item p{
    color: var(--gray);
}

.price:last-child{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-left: auto;
}

.price p{
    color: var(--gray);
}

hr{
    margin : 20px 40px;
}

.add-code{
    border: dashed var(--gray) 2px;
    margin: 100px 40px 24px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: var(--radius);
}

.add-code p{
    color: var(--gray);
}

.print{
    height: 50px;
    width: 415px;
    margin: 0 40px 0px 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--orange) ;
    color: var(--white);
    border-radius: var(--radius);
}

.footer{
    display: flex;
    background-color: black;
    height: 80px;
    position: sticky;
    width: 100%;
    bottom: 0;
    left: 0;
 
    justify-content: space-between;
    padding: 0 160px 0 160px;
    box-sizing: border-box;
}

.footer i{
    color: rgb(204, 204, 204);
    font-size: 20px;
    display: flex;
    align-items: center;
}

.footer i:hover{
    color: var(--bule);
    border-bottom :5px solid var(--bule);
}